<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="UI  tests" parallel="tests" thread-count="10">
    <test name="UI displayed test(chrome)">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.ui.UiTests">
            </class>
        </classes>
    </test>
    <test name="UI displayed test(firefox)">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="tests.ui.UiTests">
            </class>
        </classes>
    </test>
    <test name="Email validations (chrome)">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.AddressesTest"></class>
        </classes>
    </test>
    <test name="Email validations (firefox)">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="tests.AddressesTest"></class>
        </classes>
    </test>
</suite>
